@import "../_variables";

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 30px $farmhouse-red solid;
  margin-bottom: 10px;
  height: 200px;
  color: #333;
  font-size: 2rem;

  .logo {
    height: 200px;
  }

  h1 {
    font-variant: small-caps;
  }
  
  h3 {
    font-family: "Montserrat";
    font-weight: 100;
    margin-right: 20px;
  }
}
