nav {
  height: 60px;
  background-color: #fff;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.main-pages-container {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
}

h1 {
  a {
    margin: 0;
    font-size: 1.5rem;
    color: grey;
    text-decoration: none;
    font-variant: small-caps;
  }
}

.page-links {
  display: flex;
  margin-left: auto; /* Move to the right */
}

.page-links a {
  color: grey;
  text-decoration: none;
  margin: 0 10px;
}

.user-links {
  display: flex;
  align-items: center;
}

.user-links a {
  color: grey;
  text-decoration: none;
  margin: 0 10px;
}

button {
  background: none;
  border: none;
  color: grey;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  text-decoration: underline;
}

.logout-button {
  color: red;
  cursor: pointer;
}

.admin-link {
  a {
    color: blue;
    margin-left: 10px;
  }
}
